{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index/css/commands.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="aspect-content">
        <div class="aspect-tab ">
          <input id="item-18" type="checkbox" class="aspect-input" name="aspect">
          <label for="item-18" class="aspect-label"></label>
          <div class="aspect-content">
              <div class="aspect-info">
                  <div class="chart-pie negative over50">
                      <span class="chart-pie-count">-69</span>
                      <div>
                          <div class="first-fill"></div>
                          <div class="second-fill" style="transform: rotate(249deg)"></div>
                      </div>
                  </div>
                  <span class="aspect-name">Lorem ipsum</span>
              </div>
              <div class="aspect-stat">
                  <div class="all-opinions">
                      <span class="all-opinions-count">18</span>
                      <span>opinion</span>
                  </div>
                  <div>
                      <span class="positive-count">4</span>
                      <span class="neutral-count">1</span>
                      <span class="negative-count">13</span>
                  </div>
              </div>
          </div>
          <div class="aspect-tab-content">
              <div class="sentiment-wrapper">
                  <div>
                      <div>
                          <div class="positive-count opinion-header">
                              <span>positive</span>
                              <span>4</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="neutral-count opinion-header">
                              <span>neutral</span>
                              <span>1</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="negative-count opinion-header">
                              <span>negative</span>
                              <span>13</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="aspect-tab ">
          <input id="item-14" type="checkbox" class="aspect-input" name="aspect">
          <label for="item-14" class="aspect-label"></label>
          <div class="aspect-content">
              <div class="aspect-info">
                  <div class="chart-pie positive over50">
                      <span class="chart-pie-count">58</span>
                      <div>
                          <div class="first-fill"></div>
                          <div class="second-fill" style="transform: rotate(209deg)"></div>
                      </div>
                  </div>
                  <span class="aspect-name">Lorem ipsum dolor sit amet</span>
              </div>
              <div class="aspect-stat">
                  <div class="all-opinions">
                      <span class="all-opinions-count">22</span>
                      <span>opinion</span>
                  </div>
                  <div>
                      <span class="positive-count">12</span>
                      <span class="neutral-count">5</span>
                      <span class="negative-count">5</span>
                  </div>
              </div>
          </div>
          <div class="aspect-tab-content">
              <div class="sentiment-wrapper">
                  <div>
                      <div>
                          <div class="positive-count opinion-header">
                              <span>positive</span>
                              <span>12</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="neutral-count opinion-header">
                              <span>neutral</span>
                              <span>5</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="negative-count opinion-header">
                              <span>negative</span>
                              <span>5</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="aspect-tab ">
          <input id="item-2" type="checkbox" class="aspect-input" name="aspect">
          <label for="item-2" class="aspect-label"></label>
          <div class="aspect-content">
              <div class="aspect-info">
                  <div class="chart-pie positive">
                      <span class="chart-pie-count">33</span>
                      <div>
                          <div class="first-fill"></div>
                          <div class="second-fill" style="transform: rotate(119deg)"></div>
                      </div>
                  </div>
                  <span class="aspect-name">Lorem</span>
              </div>
              <div class="aspect-stat">
                  <div class="all-opinions">
                      <span class="all-opinions-count">7</span>
                      <span>opinion</span>
                  </div>
                  <div>
                      <span class="positive-count">3</span>
                      <span class="neutral-count">2</span>
                      <span class="negative-count">2</span>
                  </div>
              </div>
          </div>
          <div class="aspect-tab-content">
              <div class="sentiment-wrapper">
                  <div>
                      <div>
                          <div class="positive-count opinion-header">
                              <span>positive</span>
                              <span>3</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="neutral-count opinion-header">
                              <span>neutral</span>
                              <span>2</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div>
                          <div class="negative-count opinion-header">
                              <span>negative</span>
                              <span>2</span>
                          </div>
                          <div>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</body>
</html>